@import '../less-config.less';

.list-filter-col {
    float: left;
    margin-left: 15px;
    margin-right: 1px;
}

.list-count {
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    color: #666;
}

table {
    width: 100%;
    table-layout: fixed;

    td {
        .ellipsis();
        overflow-y: visible;

        span {
            display: inline-block;
        }
    }

    &.break-all {
        td {
            white-space: normal;
            word-break: break-all;
        }
    }
}

.table-con {
    overflow: auto;
    margin-top: 20px;

    .table {
        margin: 0;
    }
}

.table {
    margin-top: 20px;
    table-layout: fixed;
    background-color: #fff;
    
    &.header-only {
        margin-bottom: 2px;
    }

    thead {
        height: 48px;
        background: #f3f6fc;
        color: #636f97;
    }

    &>thead>tr>th {
        /*box-shadow: 0 1px 0px #cacaca, 0 1px 2px 1px #e4e4e4;*/
        /*box-shadow: 0 1px 0px #cacaca;*/
        height: 48px;
        padding: 13px 0 13px 8px;
        border: none;

        &:first-child {
            padding-left: 16px;
        }
    }
    .th-sort {
        cursor: pointer;
        &:hover {
            background-color: #f7f9fa;
        }
    }

    &>tbody>tr {

        &.odd {
            background-color: #f7f9fa;
        }

        &>td {
            padding: 12px 0 12px 8px;
            border: none;
            vertical-align: middle;

            &:first-child {
                padding-left: 16px;
            }
        }

        &>td.overflow-visible {
            overflow: visible;
        }

        .inner-text {
            .ellipsis();
        }
    }

    &>tbody>tr:nth-child(odd)>td {
        background-color: #FAFAFA;
    }
    
    &>tbody>tr>td {
        border-top: 1px solid #eee;
    }

    &.table-vertical {

        &>tbody>tr>td {
            background-color: #fff;
        }

        &>tbody>tr>td:first-child {
            background-color: #FAFAFA;
        }
    }

    &.text-c {
        th,
        td {
            padding: 12px 0;
            text-align: center;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .td-img {
        white-space: normal;
        word-break: break-all;
        
        img {
            margin: 0 10px;
            max-width: 40%;
            max-height: 80px;
        }
    }
}