<ul class="side" >

    <li ng-if="canAccess(',index,')">
        <a href="#/index" ng-class="{active: $state.includes('index')}"><i class="small-icon icon-qingtui"></i>总体概览</a>
    </li>
    <li>
        <a ng-show="canAccess(',operateview,') || canAccess(',operatelist,') || canAccess(',ordergl,') || canAccess(',partnerzhtj,') || canAccess(',partnerqtdk,') || canAccess(',partneryqdk,') || canAccess(',partnerdktj,') || canAccess(',tuidan-moniter,')" href="javascript:;" class="toggle" data-toggle="open">
            <i class="small-icon icon-addCoop"></i>运营数据监控
            <i class="glyphicon glyphicon-chevron-down icon-toggle1"></i>
            <i class="glyphicon glyphicon-chevron-up icon-toggle2"></i>
        </a>

        <ul class="toggle_list">
            <li ng-if="canAccess(',tuidan-moniter,')" ng-class="{active: $state.includes('tuidan-moniter')}">
                <a href="#/tuidan-moniter">推单监控</a>
            </li>
            <li ng-if="canAccess(',jinjian-moniter,')" ng-class="{active: $state.includes('jinjian-moniter')}">
                <a href="#/jinjian-moniter">进件监控</a>
            </li>

            <li ng-if="canAccess(',operateview,')" ng-class="{active: $state.includes('operateview')}">
                <a href="#/operateview">运营数据概览</a>
            </li>
            <li ng-if="canAccess(',operatelist,')" ng-class="{active: $state.includes('operatelist')}">
                <a href="#/operatelist">运营数据明细</a>
            </li>
            <li ng-if="canAccess(',ordergl,')" ng-class="{active: $state.includes('ordergl')}">
                <a href="#/ordergl">订单管理</a>
            </li>
            <li>
                <a ng-show="canAccess(',partnerqtdk,') || canAccess(',partneryqdk,') || canAccess(',partnerdktj,')" href="javascript:;" class="toggle" data-toggle="open">代扣统计详情</a>
                <ul class="toggle_list">
                    <li ng-if="canAccess(',partnerqtdk,')" style="padding-left: 10px;" ng-class="{active: $state.includes('partnerqtdk')}">
                        <a href="#/partnerqtdk">公寓清退代扣</a>
                    </li>
                    <li ng-if="canAccess(',partneryqdk,')" style="padding-left: 10px;" ng-class="{active: $state.includes('partneryqdk')}">
                        <a href="#/partneryqdk">租客逾期代扣</a>
                    </li>
                    <li ng-if="canAccess(',partnerdktj,')" style="padding-left: 10px;" ng-class="{active: $state.includes('partnerdktj')}">
                        <a href="#/partnerdktj">租客代扣统计</a>
                    </li>
                </ul>
            </li>


        </ul>
    </li>
    <li ng-class="{expand: $state.includes('parterlist')||$state.includes('agent-company')||$state.includes('coop')||$state.includes('enterpriseInfo.list')||$state.includes('call-records')}">
        <a ng-show="canAccess(',parterlist,') || canAccess(',agent-company,')|| canAccess(',coop,') || canAccess(',enterpriseInfo/list,') || canAccess(',call-records,')" href="javascript:;" class="toggle" data-toggle="open">
            <i class="small-icon icon-output"></i>合作伙伴管理
            <i class="glyphicon glyphicon-chevron-down icon-toggle1"></i>
            <i class="glyphicon glyphicon-chevron-up icon-toggle2"></i>
        </a>
        <ul class="toggle_list" ng-class="{display: $state.includes('parterlist')||$state.includes('agent-company')||$state.includes('coop')||$state.includes('enterpriseInfo.list')||$state.includes('call-records')}">
            <li ng-if="canAccess(',call-records,')" ng-class="{active: $state.includes('call-records')}">
                <a href="#/call-records">拜访记录</a>
            </li>

            <li ng-if="canAccess(',parterlist,')" ng-class="{active: $state.includes('parterlist')}">
                <a href="#/parterlist">合作伙伴明细</a>
            </li>
            <li ng-if="canAccess(',agent-company,')" ng-class="{active: $state.includes('agent-company')}" >
                <a href="#/agent-company">合作伙伴详情</a>
            </li>
            <li ng-if="canAccess(',coop,')" ng-class="{active: $state.includes('coop')}">
                <a href="#/coop">商务合作</a>
            </li>
            <li ng-if="canAccess(',enterpriseInfo,')|| canAccess(',enterpriseInfo/list,')" ng-class="{active: $state.includes('enterpriseInfo.list')}">
                <a href="#/enterpriseInfo/list">合作伙伴申请</a>
            </li>

        </ul>
    </li>
    <li ng-if="canAccess(',agent,')">
        <a href="#/agent" ng-class="{active: $state.includes('agent')}"><i class="small-icon icon-agent"></i>房管员管理</a>
    </li>
    <li ng-if="canAccess(',user,')">
        <a href="#/user" ng-class="{active: $state.includes('user')}"><i class="small-icon icon-agent"></i>租客管理</a>
    </li>

    <li ng-class="{expand: $state.includes('total-view')||$state.includes('parterview')}">
        <a ng-show="canAccess(',total-view,')||canAccess(',parterview,')" href="javascript:;" class="toggle" data-toggle="open">
            <i class="small-icon icon-output"></i>数据统计
            <i class="glyphicon glyphicon-chevron-down icon-toggle1"></i>
            <i class="glyphicon glyphicon-chevron-up icon-toggle2"></i>
        </a>
        <ul class="toggle_list" ng-class="{display: $state.includes('total-view')||$state.includes('parterview')}">
            <li ng-if="canAccess(',total-view,')" ng-class="{active: $state.includes('total-view')}">
                <a href="#/total-view">全站统计</a>
            </li>
            <li ng-if="canAccess(',parterview,')" ng-class="{active: $state.includes('parterview')}">
                <a href="#/parterview">公寓排行榜</a>
            </li>

        </ul>
    </li>

</ul>