<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>58月付运营统计管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://static.58.com/back/favicon.ico" />
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>

  <body>
    <my-app>Loading....</my-app>
  </body>

</html>
