<div class="wrap">
    <ul class="title-list title-wrap">
        <li class="title-item bg item1">
            <a class="cursor" href="#/tuidan-moniter" target="_blank">推单</a>
        </li>
        <li class="title-item item1">
            <a class="cursor" href="#/jinjian-moniter" target="_blank">进件</a>
        </li>
        <li class="title-item bg item2"><a class="cursor">放款</a></li>
        <li class="title-item item2"><a class="cursor">还款</a></li>
        <li class="title-item bg item2" ><a class="cursor">逾期</a></li>
        <li class="item3"><a class="cursor">清退</a></li>
    </ul>
    <ul class="title-list content-wrap">
        <li class="item1" >
            <div class="item">
                <span class="w70">今日推单</span>
                <span class="w30 right">{{homeTuidan.jrtd}}</span>
            </div>
            <div class="item">
                <span class="w70">昨日推单</span>
                <span class="w30 right">{{homeTuidan.zrtd}}</span>
            </div>
            <div class="item">
                <span class="w70">本月日均推单</span>
                <span class="w30 right">{{homeTuidan.byrjtd}}</span>
            </div>
            <div class="item">
                <span class="w70">今日推单公寓数</span>
                <span class="w30 right">{{homeTuidan.jrtdgys}}</span>
            </div>
            <div class="item">
                <span class="w70">昨日推单公寓数</span>
                <span class="w30 right">{{homeTuidan.zrtdgys}}</span>
            </div>
            <div class="item">
                <span style="width:64%">推单完成率</span>
                <span style="width:32%" class="right">{{homeTuidan.tdwcl}}</span>
            </div>
            <div class="item">
                <span style="width:64%">系统拒绝率</span>
                <span style="width:32%" class="right">{{homeTuidan.xtjjl}}</span>
            </div>
        </li>
        <li class="item1" >
            <div class="item">
                <span class="w70">今日进件</span>
                <span class="w30 right">{{homeJinjian.jrjj}}</span>
            </div>
            <div class="item">
                <span class="w70">昨日进件</span>
                <span class="w30 right">{{homeJinjian.zrjj}}</span>
            </div>
            <div class="item">
                <span class="w70">人工初审</span>
                <span class="w30 right">{{homeJinjian.jrrgcs}}</span>
            </div>
            <div class="item">
                <span class="w70">人工复审</span>
                <span class="w30 right">{{homeJinjian.jrrgfs}}</span>
            </div>
            <div class="item">
                <span class="w70">审核成功</span>
                <span class="w30 right">{{homeJinjian.jrshcg}}</span>
            </div>
            <div class="item">
                <span class="w70">审核失败</span>
                <span class="w30 right">{{homeJinjian.jrshsb}}</span>
            </div>
            <div class="item">
                <span class="w70">剩余待审核订单</span>
                <span class="w30 blue right">{{homeJinjian.sydshdd}}</span>
            </div>
        </li>
        <li class="item2" >
            <div class="item">
                <span class="w50">今日放款笔数</span>
                <span class="w50 right">{{homeFangkuan.jrfkbs}}</span>
            </div>
            <div class="item">
                <span class="w50">今日放款金额</span>
                <span class="w50 right">{{homeFangkuan.jrfkje}}</span>
            </div>
            <div class="item">
                <span class="w50">待放款笔数</span>
                <span class="w50 right">{{homeFangkuan.dfkbs}}</span>
            </div>
            <div class="item">
                <span class="w50">待放款金额</span>
                <span class="w50 right">{{homeFangkuan.dfkje}}</span>
            </div>
        </li>
        <li class="item2" >
            <div class="item">
                <span class="w50">今日应还笔数</span>
                <span class="w50 right">{{homeHuankuan.jryhbs}}</span>
            </div>
            <div class="item">
                <span class="w50">今日应还金额</span>
                <span class="w50 right">{{homeHuankuan.jryhje}}</span>
            </div>
            <div class="item">
                <span class="w50">实际还款笔数</span>
                <span class="w50 right">{{homeHuankuan.sjhkbs}}</span>
            </div>
            <div class="item">
                <span class="w50">实际还款金额</span>
                <span class="w50 right">{{homeHuankuan.sjhkje}}</span>
            </div>
            <div class="item">
                <span class="w50">未还款笔数</span>
                <span class="w50 right">{{homeHuankuan.whbs}}</span>
            </div>
            <div class="item">
                <span class="w50">未还款金额</span>
                <span class="w50 right">{{homeHuankuan.whje}}</span>
            </div>
        </li>
        <li class="item2" >
            <div class="item">
                <span class="w50">今日发生逾期</span>
                <span class="w50 right">{{homeYuqi.jryqbs}}</span>
            </div>
            <div class="item">
                <span class="w50">今日逾期金额</span>
                <span class="w50 right">{{homeYuqi.jryqje}}</span>
            </div>
            <div class="item">
                <span class="w50">当前累计逾期</span>
                <span class="w50 right">{{homeYuqi.dqljyqbs}}</span>
            </div>
            <div class="item">
                <span class="w50">当前逾期金额</span>
                <span class="w50 right">{{homeYuqi.dqljyqje}}</span>
            </div>
            <div class="item">
                <span class="w70">3天以上逾期笔数</span>
                <span class="w30 right">{{homeYuqi.tys3}}</span>
            </div>
            <div class="item">
                <span class="w50">平均逾期天数</span>
                <span class="w50 right">{{homeYuqi.pjyqts}}</span>
            </div>
        </li>
        <li class="item3" >
            <div class="item">
                <span class="w50">未结清笔数</span>
                <span class="w50 right">{{homeQingtui.qtwjqbs}}</span>
            </div>
            <div class="item">
                <span class="w50">未结清金额</span>
                <span class="w50 right">{{homeQingtui.qtwjqje}}</span>
            </div>
            <div class="item">
                <span class="w70">已结清还款平均天数</span>
                <span class="w30 right">{{homeQingtui.yjqpjts}}</span>
            </div>
        </li>
    </ul>
</div>
<div class="clearfix">
    <div class="col-md-5 pl pr">
        <div class="index-title">
            <h2>{{homeYejiProgress.dqy}}月业绩完成度</h2>
            <h3>（<span>时间进度：</span>{{homeYejiProgress.sjjd}}）</h3>
        </div>
        <table class="table-bordered index-table">
            <colgroup>
                <!--<col width="20">-->
                <!--<col width="50">-->
                <!--<col width="40">-->
            </colgroup>
            <tr class="key-title">
                <td>月份</td>
                <td>推单量目标</td>
                <td>合作伙伴目标</td>
                <td>费率目标</td>
                <td>推单房管员数</td>
            </tr>
            <tr>
                <td>本月目标</td>
                <td>{{homeYejiProgress.orderTarget}}</td>
                <td>{{homeYejiProgress.partnerTarget}}</td>
                <td>{{homeYejiProgress.feeRateTarget}}</td>
                <td>{{homeYejiProgress.agentCount}}</td>
            </tr>
            <tr>
                <td>当前实际</td>
                <td>{{homeYejiProgress.dqtdl}}</td>
                <td>{{homeYejiProgress.hzhbzs}}</td>
                <td>{{homeYejiProgress.pjfl}}</td>
                <td>{{homeYejiProgress.dqtdfgy}}</td>
            </tr>
            <tr>
                <td>完成度</td>
                <td>{{homeYejiProgress.tdlwcd}}</td>
                <td>{{homeYejiProgress.flwcd}}</td>
                <td>{{homeYejiProgress.hzhbwcd}}</td>
                <td>{{homeYejiProgress.tdfgywcd}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-7 pr">
        <div class="index-title">
            <h2>平台累计</h2>
        </div>
        <table class="table-bordered index-table">
            <colgroup>
                <col width="40">
                <col width="50">
                <col width="50">
                <col width="40">
                <col width="40">
            </colgroup>
            <tr class="key-title">
                <td>总放款笔数</td>
                <td>总放款金额</td>
                <td>总贷款余额</td>
                <td>总推单公寓</td>
                <td>总推单房管员</td>
            </tr>
            <tr>
                <td>{{FangkuanStat.zfkCount}}</td>
                <td>{{FangkuanStat.zfkSum}}</td>
                <td>{{FangkuanStat.zwhSum}}</td>
                <td>{{FangkuanStat.companyCount}}</td>
                <td>{{FangkuanStat.agentCount}}</td>
            </tr>
            <tr>
                <td class="key-title">实际收入</td>
                <td>{{ordersFinacial.totalIncome}}</td>
                <td class="key-title">收取服务费</td>
                <td colspan="2">{{ordersFinacial.feeMoney}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="index-title">
    <h2>逾期监控</h2>
    <h3>（<span>{{homeYuqiMonitor.dqy}}月发生逾期：</span>{{homeYuqiMonitor.dyfsyq}}笔     金额：{{homeYuqiMonitor.dyfsyqsum}}     环比：<span ng-class="{'red':homeYuqiMonitor.color==1,'green':homeYuqiMonitor.color==-1}">{{homeYuqiMonitor.hbl}}</span>）</h3>
</div>
<table class="table-bordered index-table">
    <colgroup>
        <col width="30">
        <col width="20">
        <col width="15">
        <col width="15">
        <col width="15">
        <col width="15">
        <col width="15">
        <col width="20">
    </colgroup>
    <tr class="key-title">
        <td>当前逾期笔数</td>
        <td>3天以内</td>
        <td>4-6天</td>
        <td>7天</td>
        <td>8天</td>
        <td>9天</td>
        <td>10天</td>
        <td>10天以上</td>
    </tr>
    <tr>
        <td>{{homeYuqiMonitor.dqyqbs}}</td>
        <td>{{homeYuqiMonitor.day3}}</td>
        <td>{{homeYuqiMonitor.day46}}</td>
        <td>{{homeYuqiMonitor.day7}}</td>
        <td>{{homeYuqiMonitor.day8}}</td>
        <td>{{homeYuqiMonitor.day9}}</td>
        <td>{{homeYuqiMonitor.day10}}</td>
        <td>{{homeYuqiMonitor.dayb10}}</td>
    </tr>
    <tr>
        <td>{{homeYuqiMonitor.dqyqsum}}</td>
        <td>{{homeYuqiMonitor.day3sum}}</td>
        <td>{{homeYuqiMonitor.day46sum}}</td>
        <td>{{homeYuqiMonitor.day7sum}}</td>
        <td>{{homeYuqiMonitor.day8sum}}</td>
        <td>{{homeYuqiMonitor.day9sum}}</td>
        <td>{{homeYuqiMonitor.day10sum}}</td>
        <td>{{homeYuqiMonitor.dayb10sum}}</td>
    </tr>
</table>